body, h1, h2, h3, ul, ol, li, p {
	margin: 0;
	font-style: "Trebuchet MS";
}

* {
box-sizing: border-box;
}

a {
text-decoration: none;
}

.container {
width: 1024px;
margin: 0 auto;
}

img {
max-width: 100%;
}

.more {
	margin: 60px 0 30px 0;
}

.more__table {
	display: flex;
	justify-content: space-between;
	padding-right: 70px;
	max-width: 850px;
}

.more__categ, .more__starring {
	font-weight: 900;
}