body, h1, h2, h3, h4, ul, ol, li, p {
	margin: 0;
}

body {
	font-family: "Trebuchet MS";
	background-color: #f4f4f4;
}

* { 
	box-sizing: border-box; 
} 

a { 
	text-decoration: none; 
} 

img { 
	max-width: 100%; 
}

li {
    list-style-type: none;
    margin-bottom: 8px;
}
ul {
 	margin-left: 0;
 	padding-left: 0;
}

h2 {
	font-size: 40px;
	margin-bottom: 15px;
}

.container {
	width: calc(100vw - 150px);
	margin: 0 auto;
}

.desc .container, .desc__header, .desc__place, .desc__time, .desc__position, .desc__ticket {
	display: flex;
	align-items: center;
	justify-content: space-between;
}